@font-face {
  font-family: "titillium";
  src: url(../font/Titillium-Light.otf) format("otf");
}
@font-face {
  font-family: "devonshire";
  src: url(../font/Devonshire-Regular.ttf) format(".ttf");
}
@font-face {
  font-family: "balsamiq-Sans";
  src: url(../font/BalsamiqSans-Regular.ttf) format(".ttf");
}
@font-face {
  font-family: "redressed";
  src: url(../font/Redressed-webfont.woff) format("woff");
}
body {
  margin: 0;
  font-size: 20px;
  font-family: "titillium", Arial, Helvetica, sans-serif;
}

header {
  background-color: #569D88;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
}

footer {
  background-color: #569D88;
  color: #F3CB41;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  position: fixed;
}
footer a {
  text-decoration: none;
  color: #F3CB41;
  font-size: 30px;
}

main {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  grid-template-rows: 600px 600px;
  grid-template-columns: 400px 400px;
  grid-gap: 50px 50px;
  padding-top: 4%;
  padding-bottom: 4%;
  justify-content: center;
}

.bloc-menu {
  box-shadow: 0 0 13px 3px #ccc;
  width: 100%;
}
.bloc-menu a {
  text-decoration: none;
}
.bloc-menu a h1, .bloc-menu a h2 {
  font-weight: normal;
}

.bloc-menu:nth-child(1) {
  background-color: #FCDFDB;
  font-family: "devonshire";
  font-size: 25px;
  line-height: 10px;
}
.bloc-menu:nth-child(1) a {
  color: #3D1319;
}
.bloc-menu:nth-child(1) a h2 {
  font-family: "balsamiq-Sans";
  font-size: 35px;
  margin-top: 30px;
}

.bloc-menu:nth-child(2) {
  background-color: #FFF5FE;
  font-family: "redressed";
}
.bloc-menu:nth-child(2) h1 {
  background: #905BFD;
  background: linear-gradient(to left, #905BFD, #D8852E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bloc-menu:nth-child(2) h2 {
  color: #D8852E;
  margin-top: 0;
}

.bloc-menu:nth-child(3) {
  background-color: #F9F9F9;
}
.bloc-menu:nth-child(3) h1 {
  background: #0887FB;
  background: linear-gradient(to left, #0887FB, #0431DF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bloc-menu:nth-child(3) h2 {
  color: #0431DF;
  margin-top: 0;
}

.bloc-menu:nth-child(4) {
  background-color: #FDFFFC;
}
.bloc-menu:nth-child(4) h1 {
  background: #BFFF7E;
  background: linear-gradient(to left, #BFFF7E, #3D9339);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bloc-menu:nth-child(4) h2 {
  color: #3D9339;
  margin-top: 0;
}

.bloc-menu-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50%;
  transform: scale(1);
  transition: transform 500ms;
}
.bloc-menu-detail:hover {
  transform: scale(1.15);
}

.imgnote {
  width: 70px;
  height: 60px;
}

.soon {
  display: flex;
  justify-content: center;
  padding-bottom: 7em;
}

.soon-content {
  width: 40%;
  background-color: #569D88;
  border-radius: 10px;
}

.soon h3 {
  color: #F3CB41;
  text-align: center;
  font-size: 25px;
  margin: 25px;
}

.back {
  background-color: #569D88;
  border-radius: 0.3rem;
  width: 20%;
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  font-size: 30px;
}
.back a {
  text-decoration: none;
  color: #F3CB41;
}

.menleg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.page {
  padding: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 0 0 13px 3px #ccc;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.noteenchantee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.noteenchantee .page {
  background-color: #FCDFDB;
  margin-top: 3%;
  color: #3D1319;
  padding-top: 60px;
}
.noteenchantee .page h1 {
  font-size: 7vmin;
  margin-top: 0;
  font-family: "devonshire";
}
.noteenchantee .page h2 {
  font-size: 4.5vmin;
}

.titre {
  font-weight: bold;
  text-align: center;
  font-size: 55px;
  margin-top: 5%;
}

.page-entree {
  width: 100%;
}
.page-entree .page-entree-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  flex-wrap: wrap;
}

.prix {
  font-weight: bold;
}

.page-plat {
  width: 100%;
}
.page-plat .page-plat-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  flex-wrap: wrap;
}

.plat {
  text-align: left;
  min-width: 60%;
}

.page-dessert {
  width: 100%;
  margin-bottom: 5%;
}
.page-dessert .page-dessert-content {
  margin-left: 10%;
  margin-right: 10%;
}

.piedpage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mentions:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.contact:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*# sourceMappingURL=style.css.map */
