@charset "UTF-8";
@font-face {
  font-family: "devonshire";
  src: url(../font/Devonshire-Regular.ttf) format(".ttf");
}
@font-face {
  font-family: "montserrat";
  src: url(../font/Montserrat-Medium.ttf) format(".ttf");
}
@font-face {
  font-family: "Croissant One", cursive;
  src: url(../font/CroissantOne-Regular.ttf) format(".ttf");
}
@font-face {
  font-family: "Balsamiq Sans", cursive;
  src: url(../font/BalsamiqSans-Regular.ttf) format(".ttf");
}
@font-face {
  font-family: "Dancing Script", cursive;
  src: url(../font/DancingScript-Regular.ttf) format(".ttf");
}
@font-face {
  font-family: "Kalam", cursive;
  src: url(../font/Kalam-Regular.ttf) format(".ttf");
}
@font-face {
  font-family: "Merienda", cursive;
  src: url(../font/Merienda-Regular.ttf) format(".ttf");
}
@font-face {
  font-family: "Scheherazade", serif;
  src: url(../font/Scheherazade-Regular.ttf) format(".ttf");
}
@font-face {
  font-family: "Kaushan Script", cursive;
  src: url(../font/KaushanScript-Regular.ttf) format(".ttf");
}
@font-face {
  font-family: "Architects Daughter", cursive;
  src: url(../font/ArchitectsDaughter-Regular.ttf) format(".ttf");
}
body {
  margin: 0;
  font-size: 25px;
}

header {
  background-color: #569D88;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
}
header .logoomf {
  width: 100%;
}

footer {
  background-color: #569D88;
  color: #F3CB41;
  font-family: "montserrat";
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  position: fixed;
}
footer a {
  text-decoration: none;
  color: #F3CB41;
  font-size: 30px;
}
@media screen and (max-width: 599px) {
  footer a {
    font-size: 20px;
  }
}
@media screen and (max-width: 350px) {
  footer a {
    font-size: 17px;
  }
}

main {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 599px) {
  main {
    width: 87%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  main {
    width: 80%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1050px) {
  main {
    width: 90%;
  }
}

.grid {
  display: grid;
  grid-template-rows: 600px 600px;
  grid-template-columns: 400px 400px;
  grid-gap: 50px 50px;
  padding-top: 4%;
  padding-bottom: 4%;
  justify-content: center;
}
@media screen and (max-width: 599px) {
  .grid {
    grid-template-columns: 80vw;
    grid-template-rows: 114vw 114vw 114vw 114vw;
    padding-top: 15%;
    padding-bottom: 20%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .grid {
    grid-template-rows: 450px 450px;
    grid-template-columns: 300px 300px;
  }
}

.bloc-menu {
  box-shadow: 0 0 13px 3px #ccc;
  width: 100%;
}
.bloc-menu a {
  text-decoration: none;
}
.bloc-menu a h1, .bloc-menu a h2 {
  font-weight: normal;
}

.bloc-menu:nth-child(1) {
  background-color: #FCDFDB;
  font-family: "devonshire";
  font-size: 35px;
  line-height: 10px;
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .bloc-menu:nth-child(1) {
    font-size: 25px;
  }
}
@media screen and (max-width: 350px) {
  .bloc-menu:nth-child(1) {
    font-size: 25px;
  }
}
.bloc-menu:nth-child(1) a {
  color: #3D1319;
}
.bloc-menu:nth-child(1) a h2 {
  font-family: "balsamiq Sans";
  font-size: 35px;
  margin-top: 30px;
}

.bloc-menu:nth-child(2) {
  background-color: #FFF5FE;
}
@media screen and (max-width: 599px) {
  .bloc-menu:nth-child(2) {
    font-size: 20px;
  }
}
@media screen and (max-width: 350px) {
  .bloc-menu:nth-child(2) {
    font-size: 17px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .bloc-menu:nth-child(2) {
    font-size: 20px;
  }
}
.bloc-menu:nth-child(2) h1 {
  background: #905BFD;
  background: linear-gradient(to left, #905BFD, #D8852E);
  background-clip: text;
  -text-fill-color: transparent;
  font-weight: bold;
  font-family: "Croissant One", cursive;
  font-size: 30px;
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .bloc-menu:nth-child(2) h1 {
    font-size: 23px;
  }
}
@media screen and (max-width: 599px) {
  .bloc-menu:nth-child(2) h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 350px) {
  .bloc-menu:nth-child(2) h1 {
    font-size: 20px;
  }
}
.bloc-menu:nth-child(2) h2 {
  color: #D8852E;
  margin-top: 0;
  font-weight: bold;
}

.bloc-menu:nth-child(3) {
  background-color: #F9F9F9;
}
@media screen and (max-width: 599px) {
  .bloc-menu:nth-child(3) {
    font-size: 20px;
  }
}
@media screen and (max-width: 350px) {
  .bloc-menu:nth-child(3) {
    font-size: 17px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .bloc-menu:nth-child(3) {
    font-size: 20px;
  }
}
.bloc-menu:nth-child(3) h1 {
  background: #0887FB;
  background: linear-gradient(to left, #0887FB, #0431DF);
  background-clip: text;
  -text-fill-color: transparent;
  font-family: "Dancing Script";
  font-size: 40px;
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .bloc-menu:nth-child(3) h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 350px) {
  .bloc-menu:nth-child(3) h1 {
    font-size: 30px;
  }
}
.bloc-menu:nth-child(3) h2 {
  color: #0431DF;
  margin-top: 0;
  font-family: "Balsamiq Sans";
}

.bloc-menu:nth-child(4) {
  background-color: #FDFFFC;
}
@media screen and (max-width: 599px) {
  .bloc-menu:nth-child(4) {
    font-size: 20px;
  }
}
@media screen and (max-width: 350px) {
  .bloc-menu:nth-child(4) {
    font-size: 17px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .bloc-menu:nth-child(4) {
    font-size: 20px;
  }
}
.bloc-menu:nth-child(4) h1 {
  background: #BFFF7E;
  background: linear-gradient(to left, #BFFF7E, #3D9339);
  background-clip: text;
  -text-fill-color: transparent;
  font-family: "Kaushan Script", cursive;
  font-size: 40px;
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .bloc-menu:nth-child(4) h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 599px) {
  .bloc-menu:nth-child(4) h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 350px) {
  .bloc-menu:nth-child(4) h1 {
    font-size: 30px;
  }
}
.bloc-menu:nth-child(4) h2 {
  color: #3D9339;
  margin-top: 0;
  font-family: "Balsamiq Sans";
}

.bloc-menu-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50%;
  transform: scale(1);
  transition: transform 500ms;
}
@media screen and (max-width: 350px) {
  .bloc-menu-detail {
    padding-top: 40%;
  }
}
.bloc-menu-detail:hover {
  transform: scale(1.15);
}

.imgnote {
  width: 70px;
  height: 60px;
}

.soon {
  display: flex;
  justify-content: center;
  padding-bottom: 7em;
}
@media screen and (max-width: 599px) {
  .soon {
    padding-bottom: 4em;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .soon {
    padding-bottom: 4em;
  }
}

.soon-content {
  width: 50%;
  background-color: #569D88;
  border-radius: 10px;
}
@media screen and (max-width: 599px) {
  .soon-content {
    width: 80%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1050px) {
  .soon-content {
    width: 50%;
  }
}

.soon-content__title::after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "…";
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
.soon h3 {
  color: #F3CB41;
  font-size: 35px;
  margin: 5%;
  padding-left: 10%;
}
@media screen and (max-width: 599px) {
  .soon h3 {
    font-size: 20px;
    padding-left: 22%;
  }
}
@media screen and (max-width: 350px) {
  .soon h3 {
    font-size: 17px;
    padding-left: 17%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .soon h3 {
    font-size: 25px;
  }
}

.back {
  background-color: #569D88;
  border-radius: 0.3rem;
  width: 20%;
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  font-size: 30px;
}
@media screen and (max-width: 599px) {
  .back {
    margin-bottom: 20%;
    width: 50%;
  }
}
.back a {
  text-decoration: none;
  color: #F3CB41;
}

.menleg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.page {
  padding: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 0 0 13px 3px #ccc;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 599px) {
  .page {
    margin-bottom: 18vw;
  }
}

.noteenchantee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "Merienda", cursive;
}
.noteenchantee .page {
  background-color: #FCDFDB;
  margin-top: 3%;
  color: #3D1319;
  padding-top: 60px;
}
@media screen and (max-width: 599px) {
  .noteenchantee .page {
    padding-top: 30px;
    margin-bottom: 5%;
  }
}
.noteenchantee .page h1 {
  font-size: 7vmin;
  margin-top: 0;
  font-family: "devonshire";
}
@media screen and (max-width: 599px) {
  .noteenchantee .page h1 {
    font-size: 11vmin;
  }
}
.noteenchantee .page h2 {
  font-size: 3.5vmin;
  font-family: "Merienda", cursive;
}
@media screen and (max-width: 599px) {
  .noteenchantee .page h2 {
    font-size: 6.3vmin;
  }
}

@media screen and (max-width: 599px) {
  .imgnote2 {
    width: 78px;
    height: 73px;
  }
}

.titre {
  font-weight: bold;
  text-align: center;
  font-size: 4.8vmin;
  margin-top: 5%;
  font-family: "montserrat";
}
@media screen and (max-width: 599px) {
  .titre {
    font-size: 5.8vmin;
  }
}

.page-entree {
  width: 100%;
  margin-bottom: 3%;
}
.page-entree .page-entree-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
}
@media screen and (max-width: 599px) {
  .page-entree .page-entree-content {
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .page-entree .page-entree-content {
    flex-direction: column;
  }
}

.page-entree-titre {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.page-entree-titre h2 {
  text-decoration: none;
  background: linear-gradient(to top, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0.5) 10%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.page-entree-titre h2:hover {
  background-size: 100% 100%;
}

.page-plat-titre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.page-plat-titre h2 {
  text-decoration: none;
  background: linear-gradient(to top, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0.5) 10%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.page-plat-titre h2:hover {
  background-size: 100% 100%;
}

.page-dessert-titre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.page-dessert-titre h2 {
  text-decoration: none;
  background: linear-gradient(to top, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0.5) 10%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.page-dessert-titre h2:hover {
  background-size: 100% 100%;
}

.prix {
  font-weight: bold;
}
@media screen and (max-width: 599px) {
  .prix {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .prix {
    font-size: 20px;
  }
}

.page-plat {
  width: 100%;
  margin-bottom: 3%;
}
.page-plat .page-plat-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  flex-wrap: wrap;
}
@media screen and (max-width: 599px) {
  .page-plat .page-plat-content {
    margin-right: 0;
    margin-left: 0;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .page-plat .page-plat-content {
    flex-direction: column;
  }
}

.plat {
  text-align: left;
  min-width: 60%;
}
@media screen and (max-width: 599px) {
  .plat {
    text-align: center;
    font-size: 18px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .plat {
    text-align: center;
    font-size: 20px;
  }
}

.page-dessert {
  width: 100%;
  margin-bottom: 3%;
}
.page-dessert .page-dessert-content {
  margin-left: 10%;
  margin-right: 10%;
}
@media screen and (max-width: 599px) {
  .page-dessert .page-dessert-content {
    margin-left: 0;
    margin-right: 0;
  }
}

.piedpage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
  font-size: 3vmin;
  font-family: "devonshire";
}
@media screen and (max-width: 599px) {
  .piedpage {
    font-size: 8vmin;
  }
}

.stickleft {
  width: 27%;
  justify-content: left;
}
@media screen and (max-width: 599px) {
  .stickleft {
    width: 20%;
  }
}

.stickright {
  width: 27%;
  justify-content: right;
}
@media screen and (max-width: 599px) {
  .stickright {
    width: 20%;
  }
}

.traitgauche {
  width: 100%;
  height: 1rem;
}
@media screen and (max-width: 599px) {
  .traitgauche {
    width: 110%;
    height: 0.5rem;
  }
}

.traitdroit {
  width: 100%;
  height: 1rem;
}
@media screen and (max-width: 599px) {
  .traitdroit {
    width: 110%;
    height: 0.5rem;
  }
}

.chicfrancais {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
  font-family: "Scheherazade", serif;
}
.chicfrancais .page {
  background-color: #FFF5FE;
}
.chicfrancais .page h1 {
  margin-top: 20%;
  margin-bottom: 10%;
  font-size: 80px;
  background: #905BFD;
  background: linear-gradient(to left, #905BFD, #D8852E);
  background-clip: text;
  -text-fill-color: transparent;
}
@media screen and (max-width: 599px) {
  .chicfrancais .page h1 {
    font-size: 9vmin;
    margin-top: 10%;
    margin-bottom: 10%;
  }
}
.chicfrancais .page .page-entree {
  color: #d8852e;
}
.chicfrancais .page .page-entree .page-entree-titre h2 {
  text-decoration: none;
  background: linear-gradient(to top, #D8852E 0%, #D8852E 10%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
@media screen and (max-width: 599px) {
  .chicfrancais .page .page-entree .page-entree-titre h2 {
    font-size: 20px;
    font-weight: 900;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .chicfrancais .page .page-entree .page-entree-titre h2 {
    font-size: 25px;
  }
}
.chicfrancais .page .page-entree .page-entree-titre h2:hover {
  background-size: 100% 100%;
}
.chicfrancais .page .page-entree .page-entree-content {
  font-size: 30px;
}
.chicfrancais .page .page-plat {
  color: #A56799;
}
.chicfrancais .page .page-plat .page-plat-titre h2 {
  text-decoration: none;
  background: linear-gradient(to top, #A56799 0%, #A56799 10%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
@media screen and (max-width: 599px) {
  .chicfrancais .page .page-plat .page-plat-titre h2 {
    font-size: 20px;
    font-weight: 900;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .chicfrancais .page .page-plat .page-plat-titre h2 {
    font-size: 25px;
  }
}
.chicfrancais .page .page-plat .page-plat-titre h2:hover {
  background-size: 100% 100%;
}
.chicfrancais .page .page-plat .page-plat-content {
  font-size: 30px;
}
@media screen and (max-width: 599px) {
  .chicfrancais .page .page-plat .page-plat-content {
    flex-direction: column;
  }
}
.chicfrancais .page .page-dessert {
  color: #905BFD;
}
.chicfrancais .page .page-dessert .page-dessert-titre h2 {
  text-decoration: none;
  background: linear-gradient(to top, #905BFD 0%, #905BFD 10%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
@media screen and (max-width: 599px) {
  .chicfrancais .page .page-dessert .page-dessert-titre h2 {
    font-size: 20px;
    font-weight: 900;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .chicfrancais .page .page-dessert .page-dessert-titre h2 {
    font-size: 25px;
  }
}
.chicfrancais .page .page-dessert .page-dessert-titre h2:hover {
  background-size: 100% 100%;
}
.chicfrancais .page .page-dessert .page-dessert-content {
  font-size: 30px;
}

.delicepapille {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
  font-family: "Kalam", cursive;
}
.delicepapille .page {
  background-color: #F9F9F9;
}
.delicepapille .page h1 {
  font-size: 80px;
  padding-top: 10%;
  padding-bottom: 10%;
  background: #0887FB;
  background: linear-gradient(to left, #0887FB, #0431DF);
  background-clip: text;
  -text-fill-color: transparent;
  font-family: "Dancing Script", cursive;
}
@media screen and (max-width: 599px) {
  .delicepapille .page h1 {
    font-size: 9vmin;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .delicepapille .page h1 {
    font-size: 9vmin;
  }
}
.delicepapille .page .page-entree-titre h2 {
  text-decoration: none;
  background: linear-gradient(to top, #0431DF 0%, #0431DF 10%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
  font-size: 30px;
}
@media screen and (max-width: 599px) {
  .delicepapille .page .page-entree-titre h2 {
    font-size: 20px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .delicepapille .page .page-entree-titre h2 {
    font-size: 25px;
  }
}
.delicepapille .page .page-entree-titre h2:hover {
  background-size: 100% 100%;
}
.delicepapille .page .page-entree-content {
  font-size: 20px;
}
.delicepapille .page .page-entree-content .plat {
  height: 20px;
}
.delicepapille .page .page-plat-titre h2 {
  text-decoration: none;
  background: linear-gradient(to top, #0170F3 0%, #0170F3 10%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
  font-size: 30px;
}
@media screen and (max-width: 599px) {
  .delicepapille .page .page-plat-titre h2 {
    font-size: 20px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .delicepapille .page .page-plat-titre h2 {
    font-size: 25px;
  }
}
.delicepapille .page .page-plat-titre h2:hover {
  background-size: 100% 100%;
}
.delicepapille .page .page-plat-content {
  font-size: 20px;
}
@media screen and (max-width: 599px) {
  .delicepapille .page .page-plat-content {
    display: flex;
    flex-direction: column;
  }
}
.delicepapille .page .page-dessert-titre h2 {
  text-decoration: none;
  background: linear-gradient(to top, #0887FB 0%, #0887FB 10%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
  font-size: 30px;
}
@media screen and (max-width: 599px) {
  .delicepapille .page .page-dessert-titre h2 {
    font-size: 20px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .delicepapille .page .page-dessert-titre h2 {
    font-size: 25px;
  }
}
.delicepapille .page .page-dessert-titre h2:hover {
  background-size: 100% 100%;
}
.delicepapille .page .page-dessert-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  flex-wrap: wrap;
  font-size: 20px;
}
@media screen and (max-width: 599px) {
  .delicepapille .page .page-dessert-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .delicepapille .page .page-dessert-content {
    flex-direction: column;
  }
}

.palettegout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}
.palettegout .page {
  background-color: #FDFFFC;
  font-family: "Architects Daughter", cursive;
}
.palettegout .page h1 {
  font-size: 80px;
  font-family: "Kaushan Script", cursive;
  padding-top: 10%;
  padding-bottom: 5%;
  background: #BFFF7E;
  background: linear-gradient(to left, #BFFF7E, #3D9339);
  background-clip: text;
  -text-fill-color: transparent;
}
@media screen and (max-width: 599px) {
  .palettegout .page h1 {
    font-size: 9vmin;
  }
}
.palettegout .page .page-entree-titre h2 {
  text-decoration: none;
  background: linear-gradient(to top, #BFFF7E 0%, #BFFF7E 10%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
@media screen and (max-width: 599px) {
  .palettegout .page .page-entree-titre h2 {
    font-size: 20px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .palettegout .page .page-entree-titre h2 {
    font-size: 25px;
  }
}
.palettegout .page .page-entree-titre h2:hover {
  background-size: 100% 100%;
}
.palettegout .page .page-entree-content {
  font-size: 20px;
}
.palettegout .page .page-plat-titre h2 {
  text-decoration: none;
  background: linear-gradient(to top, #BFFF7E 0%, #BFFF7E 10%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
@media screen and (max-width: 599px) {
  .palettegout .page .page-plat-titre h2 {
    font-size: 20px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .palettegout .page .page-plat-titre h2 {
    font-size: 25px;
  }
}
.palettegout .page .page-plat-titre h2:hover {
  background-size: 100% 100%;
}
.palettegout .page .page-plat-content {
  font-size: 20px;
}
@media screen and (max-width: 599px) {
  .palettegout .page .page-plat-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.palettegout .page .page-dessert-titre h2 {
  text-decoration: none;
  background: linear-gradient(to top, #BFFF7E 0%, #BFFF7E 10%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
@media screen and (max-width: 599px) {
  .palettegout .page .page-dessert-titre h2 {
    font-size: 20px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .palettegout .page .page-dessert-titre h2 {
    font-size: 25px;
  }
}
.palettegout .page .page-dessert-titre h2:hover {
  background-size: 100% 100%;
}
.palettegout .page .page-dessert-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
  flex-wrap: wrap;
}
@media screen and (max-width: 599px) {
  .palettegout .page .page-dessert-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .palettegout .page .page-dessert-content {
    flex-direction: column;
  }
}

.mentions:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.contact:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*# sourceMappingURL=style.css.map */
